{
  "workspace": {
    "enforceStructure": true,
    "folders": [
      {
        "name": "src",
        "required": true,
        "structure": [
          { "name": "app", "required": true },
          { "name": "assets", "required": false },
          { "name": "components", "required": true },
          { "name": "config", "required": true },
          {
            "name": "features",
            "required": true,
            "repeatable": true,
            "structure": [
              {
                "name": "*",
                "structure": [
                  { "name": "api", "required": false },
                  { "name": "assets", "required": false },
                  { "name": "components", "required": false },
                  { "name": "hooks", "required": false },
                  { "name": "stores", "required": false },
                  { "name": "types", "required": false },
                  { "name": "utils", "required": false }
                ]
              }
            ]
          },
          { "name": "hooks", "required": true },
          { "name": "lib", "required": true },
          { "name": "stores", "required": false },
          { "name": "types", "required": true },
          { "name": "utils", "required": true },
          { "name": "testing", "required": false }
        ]
      }
    ]
  }
}
