DATABASE_URL = "postgresql://postgres:example@127.0.0.1:5432/autopulse"
ENV=production  # Change to "production" when deploying
LIVEKIT_URL=wss://*****
LIVEKIT_API_KEY=****
LIVEKIT_API_SECRET=****
LIVEKIT_SIP_TRUNK_ID=****
DB_USER=****
DB_PASSWORD=****
DB_HOST=****
DB_PORT=5432
DB_NAME=autopulse
JWT_SECRET_KEY=****
JWT_ALGORITHM=****
ACCESS_TOKEN_EXPIRE_MINUTES=****
APP_TITLE=****
APP_DESCRIPTION=****
DEBUG=FALSE